<html>                         
                <head>
                                <title>Skillsly - Placement Preperation App</title>
                                <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
                </head>
                <body>
                                <div class="w3-container w3-teal">
                                                <h2>Welcome to Skillsly !!!</h2>
                                </div>
                </body>
</html>
